*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    float: left;
    background: rgb(255, 255, 255);
}
.navigation{
    position: fixed;
    height: 100vh;
    width: 70px;
    background: #2b343b;
    box-shadow: 10px 0 0 #4187ff;
    border-left: 10px solid #2b343b;
    overflow: hidden;
    transition: width 0.5s ease-in;
    /* border-radius: 10px 0 0 10px; */
}
.navigation:hover{
    width: 200px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 50px;
}
.navigation ul li{
    list-style: none;
    position: relative;
    width: 100%;
    border-radius: 20px 0 0 20px;
    margin-top: 10px;
}
.navigation ul li.active{
    background: #4187f6;
    border-radius: 10px 0 0 10px;
}
.navigation ul li a{
    position: relative;
    display: block;
    display: flex;
    text-decoration: none;
    color: #fff;  
    width: 100%;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
}
.profile{
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
}
.center img{
    position: relative;
    text-align: center;
    top: 5px;
}